- var phone = "8(8202)54-06-41";
		- var listTitlesFooter = ["Продукция", "Услуги", "Компания", "Связаться с нами"];
		-
			var blocks  = [{
				href_icon: '../assets/img/placeholder.png',
				title: 'Адрес',
				descr: 'г. Череповец ул. Химиков, 7'
			},{
				href_icon: '../assets/img/phone-call.png',
				title: 'Телефоны',
				descr: `8(8202)54-06-41
				+7(921)723-06-41`
			},{
				href_icon: '../assets/img/envelope.png',
				title: 'Email',
				descr: 'okna540641@gmail.com'
			},{
				href_icon: '../assets/img/time-left.png',
				title: 'Режим работы',
				descr: `Пн-Пт 09:00-18:00
				Обед 13:00-14:00`
			},];
		- 
			var itemsFooter = [['Пластиковые окна', 'Балконы и лоджии', "Пластиковые двери", "Жалюзи и рулонные шторы", "Ролтсавни", "Комплектующие"],
			["Производство", "Доставка", "Монтаж", "Замер и заказ", "Ремонт и обслуживание", "Гарантии"],
			["О компании", "Акции", "Наши работы", "Статьи", "Контакты"]];
		- 
			var listItemsNavigation = [
				{
					content: 'О компании',
					href: 'about.html'
				 },{
					content: 'Продукция',
					href: '/pages/products.html',
					submenu: ['Пластиковые окна', 'Балконы и лоджии', "Пластиковые двери",
								"Жалюзи и рулонные шторы", "Ролтсавни", "Комплектующие"]
				},{
					content: 'Услуги',
					href: 'services.html',
					submenu: ["Производство", "Доставка", "Монтаж", "Замер и заказ", "Ремонт и обслуживание", "Гарантии"]
				},{
					content: 'Акции',
					href: 'sales.html'
				},{
					content: 'Наши работы',
					href: 'works.html'
				},{
					content: 'Контакты',
					href: '/pages/contacts.html'
			}];